NEXT_APPWRITE_KEY=<Your KEY>
NEXT_PUBLIC_APPWRITE_ENDPOINT=<YOUR ENDPOINT>
NEXT_PUBLIC_APPWRITE_PROJECT=roombookit
NEXT_PUBLIC_APPWRITE_DATABASE=roombookit
NEXT_PUBLIC_APPWRITE_COLLECTION_ROOMS=rooms
NEXT_PUBLIC_APPWRITE_COLLECTION_BOOKINGS=bookings
NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_AVATARS=avatars
NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_ROOMS=rooms
NEXT_PUBLIC_URL=http://localhost:3000